<h2>Üye Ol</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, "E-Posta Adresiniz" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, "Şifre" %>
    <% if @minimum_password_length %>
    <em>(Şifreniz en az <%= @minimum_password_length %> karakterden oluşmalı, harf ve rakam içermelidir)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Şifre tekrari" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br />

  <div class="actions">
    <%= f.submit "Üye Ol" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
