<% provide(:title, 'Blog') %>

<div class="container">
  <div class="row">

<h2>Bütün bloglar</h2><br>

<% @articles.each do |article| %>

    <p><span><%= article.title %></span></p>

    <p><%= article.description %></p>

    <p class="user"><%= article.user.name %></p>

    <p class="date"><%= l(article.created_at, format: :long) %></p>

    <p>
        <%= link_to 'Gösteri', article_path(article), class: "btn btn-info btn-xs" %>

        <% if can? :update, article %>
        <%= link_to 'Değiştir', edit_article_path(article), class: "btn btn-warning btn-xs" %>
        <% end %>

        <% if can? :destroy, article %>
        <%= link_to 'Sil', article_path(article), method: :delete, data: {confirm: 'Emin misin ?'}, class: "btn btn-danger btn-xs" %>
        <% end %>
    </p>

    <hr>

<% end %>

<%= link_to 'Yeni blog', new_article_path(@article), class: "btn btn-success btn-lg" %>

    </div>
</div>
<br>
