<h1>Yeni article yapabilirsin</h1>

<%= form_for :article, url: articles_path do |f| %>

    <p>
        <%= f.label :title, "ssss" %><br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :description, "ddd" %><br>
        <%= f.text_area :description %>
    </p>

    <p>
        <%= f.submit class: "btn btn-primary", type: "submit", value: "Tamam", data: { disable_with: "Ben calisiyorum..."} %>
    </p>

<% end %>
