<%= form_with(model: @galeri, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :galeri_title %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
