<div class="row">
  <% @galeris.each do |g| %>
    <div class="col-md-4">
      <a href="<%= galeri_path(g.id) %>">
        <%= image_tag g.avatar.medium.url(g.avatar_index), class: "galeri" %>
      </a>
      <%= g.title %><br>
      <%= link_to 'Değiştir', edit_galeri_path(g) %>
      <%= link_to 'Sil', g, method: :delete, data: { confirm: 'Emin misin?' } %>
    </div>
  <% end %>
  </div>
