<div class="container">
  <div class="row">

<h4><%= @duyurular.title %></h4>

<p><%= @duyurular.text %></p>

<p class="date"><%= l(@duyurular.created_at, format: :long) %></p>

<% if can? :update, @duyurular %>
<%= link_to "Değistir", edit_duyurular_path(@duyurular), class: "btn btn-warning btn-xs" %>
<% end %>

<%= link_to "Duyurular sayfasına dön", duyurulars_path, class: "btn btn-primary btn-xs" %>
    </div>
</div>
