<% provide(:title, 'Yönetim ve üyeleri') %>

<div class="container">
    <h2>Anadolu yakası aslancami derneği yönetim ve üyeleri</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Kurucu yönetim</th>
        <th>Yönetim kurulu</th>
      </tr>
    </thead>

    <tbody>
        <% @yonetims.each do |yonetim| %>
          <tr>

            <td><%= yonetim.title_y %>
                <%= render 'upddel' %>
            </td>


            <td><%= yonetim.title_u %>
                <%= render 'upddel' %>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>
</div>

<% if can? :create, :yonetim %>
  <%= link_to 'Yeni', new_yonetim_path(@yonetim), class: "btn btn-success btn-lg" %>
<% end %>

    </div>
</div>
<br>

  </<div>
</div>
