<!--Navbar-->
<nav class="navbar">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to "", root_path, class: "fa fa-home", id: "icon" %></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hakkımızda <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Derneğimizin Tarihçesi</a></li>
          <li><a href="#">Derneğimizin Tüzüğü</a></li>
          <li><a href="#">Derneğimizin Etkinlikleri</a></li>
        </ul>
      </li>
      <li><%= link_to "yönetİm ve üyeler", yonetim_path %></li>
      <li><li><%= link_to "galeri", galeris_path %></li></li>
      <li><%= link_to "iletisim", iletisim_path %></li>
      <li><%= link_to "duyurular", duyurular_path %></li>
      <li><%= link_to "blog", articles_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to " Üye ol", new_user_registration_path, class: "glyphicon glyphicon-user" %></li>
      <li><% if user_signed_in? %>
            <%= link_to "Çıkış", destroy_user_session_path, method: :delete %>
            <%= current_user.email %>
          <% else %>
            <%= link_to " Giriş Yap", new_user_session_path, class: "glyphicon glyphicon-log-in" %>
          <% end %>
      </li>
    </ul>
  </div>
</nav>
